body {
/*  background-image: url('file:///C:/Users/anoop/Desktop/MyWeb/bi_2.jpg');*/
  background-repeat:no-repeat
}

#menuArea {
    height:200%;
    width:600px;
    display:block;
    position:dsadd;
    background-color:black;
    top:10px;
}

#blank {
    display:inline-block;
    height: 500px;
}

.menuIcon {
    width:40px;
    height:40px;
    position:relative;
    left:40px;
    float:right;
    cursor:pointer;
}

.menuItem {
    display:block;
    width:100%;
    height:50px;
    font-family:'Segoe UI Light';
    font-weight:lighter;
    text-decoration: none;
    color:white;
    font-size:25px;
    text-align: center;
}

.menuOpen {
    animation:menuAnimOpen 1s 1;
    left:0px;
}

.menuClose {
    animation:menuAnimClose 1s 1;
    left:-500px;
}

.menuInitialState {
    left:-500px;
}

#loginForm {
    position:absolute;
    left:40%;
    top:30%;
    width:400px;
}

::selection {
    background:#11939a;
    color:white;
    border:#11939a;
}

:focus {
    outline: 0.5px solid #11939a;
}

input[type=email],input[type=password] {
    position:relative;
    width:400px;
    height:50px;
    margin-top:0px;
    border-radius: 0px;
    font-family:'Seoge UI Light';
    font-size:15px;
    display:block;
    letter-spacing: 0.1em;
    padding-left:10px;
}

#rememberMeCheckbox {
    margin-top:20px;
    margin-left:30%;
}

input[type=checkbox]{
  display:none;
}

input[type=checkbox] + label{
    display      : inline-block;
    line-height  : 2em;
    color:dimgrey;
    font-family:'Seoge UI Light';
    font-size:17px;
    letter-spacing: 1px;
    cursor:pointer;
}

input[type=checkbox] + label > span{
    display          : inline-block;
    width            : 1.2em;
    height           : 1.2em;
    margin           : 0.25em 0.5em 0.25em 0.25em;
    border           : 0.0625em solid lightgrey;
    border-radius    : 0.10em;
    background       : rgb(255,255,255);
    vertical-align   : bottom;
}

input[type=checkbox]:checked + label > span:after{
    content     : '\2713';
    display     : block;
    width       : 1.4em;
    color       : #0c676c;
    font-size   : 0.875em;
    line-height : 1.4em;
    text-align  : center;
    text-shadow : 0 0 0.0714em rgb(115,153,77);
    font-weight : bold;
}

button {
    display:block;
    width:200px;
    height:50px;
    margin-left:25%;
    background-color:#11939a;
    color:white;
    font-size:20px;
    font-family:Seoge UI Light;
    border:2px solid #11939a;
    cursor:pointer;
    margin-top:20px;
}

.buttonHover {
    background-color:#0c676c;
    border:2px solid #0c676c;
}



@keyframes menuAnimOpen {

    0%{
        left:-500px;
    }

    
    100% {
        left:0px;
    }
}

@keyframes menuAnimClose {

    0%{
        left:0px;
    }

    
    100% {
        left:-500px;
    }
}

.mouseEnter{
    color: lightgray;
    cursor:pointer;
}

.element {
    animation: roll 1s linear;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
    transform: 
  }
    
  100% {
    transform: rotate(180deg);
  }
    

}
